In [1]:
import numpy as np
import pandas as pd
import unittest
from IPython.display import display

In [2]:
# Load environmental variables

# Assign raw data and plate diagram files from environment

RAW_SAMPLE_1 = "./data/maya_test/raw_counts_maya.xlsx"
RAW_SAMPLE_1_DIAGRAM = "./data/maya_test/diagram_maya.xlsx"

# Read in the raw data and plate diagram as pandas dataframes
df_data = pd.read_excel(RAW_SAMPLE_1, sheet_name=0)
df_diagram = pd.read_excel(RAW_SAMPLE_1_DIAGRAM)


# Test the raw data and plate diagram to make sure they are the correct size, should be 96 rows by 16 columns and 8 rows by 13 columns respectively always
class TestStringMethods(unittest.TestCase):

    def test_raw_data(self):
        self.assertEqual(df_data.shape, (96, 16), f"Raw data is {df_data.shape[0]} rows by {df_data.shape[1]} columns but should be 96 rows by 3 columns")

    def test_plate_diagram(self):
        self.assertEqual(df_diagram.shape, (8, 13), f"Plate diagram is {df_diagram.shape[0]} rows by {df_diagram.shape[1]} columns but should be 8 rows by 13 columns")


unittest.main(argv=['first-arg-is-ignored'], exit=False)

display(df_data)
display(df_diagram)

.F
======================================================================
FAIL: test_raw_data (__main__.TestStringMethods.test_raw_data)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "C:\Users\Ivan Korostenskij\AppData\Local\Temp\ipykernel_22968\1821617862.py", line 17, in test_raw_data
    self.assertEqual(df_data.shape, (96, 16), f"Raw data is {df_data.shape[0]} rows by {df_data.shape[1]} columns but should be 96 rows by 3 columns")
AssertionError: Tuples differ: (96, 15) != (96, 16)

First differing element 1:
15
16

- (96, 15)
?       ^

+ (96, 16)
?       ^
 : Raw data is 96 rows by 15 columns but should be 96 rows by 3 columns

----------------------------------------------------------------------
Ran 2 tests in 0.010s

FAILED (failures=1)

,Well,Fluor,Target,Content,Sample,Biological Set Name,Cq,Cq Mean,Cq Std. Dev,Starting Quantity (SQ),Log Starting Quantity,SQ Mean,SQ Std. Dev,Set Point,Well Note
0,A01,SYBR,NaN,Unkn,NaN,NaN,NaN,0.000000,0,NaN,NaN,0.0,0,72,NaN
1,A02,SYBR,NaN,Unkn,NaN,NaN,16.24,19.214765,0,NaN,NaN,NaN,0,72,NaN
2,A03,SYBR,NaN,Unkn,NaN,NaN,16.05,19.586924,0,NaN,NaN,NaN,0,72,NaN
3,A04,SYBR,NaN,Unkn,NaN,NaN,16.13,19.634851,0,NaN,NaN,NaN,0,72,NaN
4,A05,SYBR,NaN,Unkn,NaN,NaN,16.15,19.645373,0,NaN,NaN,NaN,0,72,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,H08,SYBR,NaN,Unkn,NaN,NaN,16.01,19.837336,0,NaN,NaN,NaN,0,72,NaN
92,H09,SYBR,NaN,Unkn,NaN,NaN,16.20,19.822316,0,NaN,NaN,NaN,0,72,NaN
93,H10,SYBR,NaN,Unkn,NaN,NaN,NaN,0.000000,0,NaN,NaN,0.0,0,72,NaN
94,H11,SYBR,NaN,Unkn,NaN,NaN,NaN,0.000000,0,NaN,NaN,0.0,0,72,NaN
95,H12,SYBR,NaN,Unkn,NaN,NaN,NaN,0.000000,0,NaN,NaN,0.0,0,72,NaN

,Unnamed: 0,1,2,3,4,5,6,7,8,9,10,11,12
0,A,NaN,D100,D100 Dup,D125,D125 Dup,D145,D145 Dup,D168,D168 Dup,D185,D185 Dup,NaN
1,B,NaN,D101,D101 Dup,D128,D128 Dup,D148,D148 Dup,D169,D169 Dup,D192,D192 Dup,NaN
2,C,NaN,D104,D104 Dup*,D133,D133 Dup,D149,D149 Dup,D172,D172 Dup,D193,D193 Dup,NaN
3,D,NaN,D105,D105 Dup,D136,D136 Dup,D152,D152 Dup,D173,D173 Dup,D200,D200 Dup,NaN
4,E,NaN,D113,D113 Dup,D137,D137 Dup,D153,D153 Dup,D176,D176 Dup,D104 dup,NaN,NaN
5,F,NaN,D116,D116 Dup,D140,D140 Dup,D157,D157 Dup,D180,D180 Dup,NaN,NaN,NaN
6,G,NaN,D120,D120 Dup,D141,D141 Dup,D160,D160 Dup,D181,D181 Dup,NaN,NaN,NaN
7,H,NaN,D121,D121 Dup,D144,D144 Dup,D165,D165 Dup,D184,D184 Dup,NaN,NaN,NaN

In [3]:
# Set the first column as the index, remove whitespace and add a space to the "dup" values
df_diagram = df_diagram.set_index(df_diagram.columns[0])
df_diagram = df_diagram.replace('\s+', '', regex=True)
df_diagram = df_diagram.replace(r'(?i)dup', ' dup', regex=True)


# Create an empty sample map dictionary
sample_map = {}

for row in df_diagram.index:
    for col in df_diagram.columns[1:]:
        well_id = f"{row}{int(col):02d}"
        sample_name = df_diagram.loc[row, col]
        sample_map[well_id] = sample_name

    """Use rows and columns (besides the first one) to relate the well ID to the sample name.

    For example, the first row name is A and the first column name is 1.
    The well ID will be A01 and the sample name will the sample in that row/column.

    """

# Read in the raw qPCR data and map the well IDs to sample names using the dictionary
df_data["Sample"] = df_data["Well"].map(sample_map)

# Show Well, Sample, and Cq columns
df_data[['Well', 'Sample', 'Cq']]

   Well    Sample     Cq
0   A01       NaN    NaN
1   A02      D100  16.24
2   A03  D100 dup  16.05
3   A04      D125  16.13
4   A05  D125 dup  16.15
..  ...       ...    ...
91  H08      D184  16.01
92  H09  D184 dup  16.20
93  H10       NaN    NaN
94  H11       NaN    NaN
95  H12       NaN    NaN

[96 rows x 3 columns]

In [4]:
# Select relevant columns (Well, Cq, and Sample)
df = df_data[['Well', 'Cq', 'Sample']].copy()

# Create mtDNA1 and mtDNA2 columns
df['mtDNA1'] = "mtDNA1"
df['mtDNA2'] = "mtDNA2"

# Arrange columns like this: "Well", "Sample", "mtDNA1", "mtDNA2", "Cq"
df = df.loc[:,["Well", "Sample", "mtDNA1", "mtDNA2", "Cq"]]

# Drop rows with NA values
df = df.dropna()

# Show first 5 rows
df

   Well    Sample  mtDNA1  mtDNA2     Cq
1   A02      D100  mtDNA1  mtDNA2  16.24
2   A03  D100 dup  mtDNA1  mtDNA2  16.05
3   A04      D125  mtDNA1  mtDNA2  16.13
4   A05  D125 dup  mtDNA1  mtDNA2  16.15
5   A06      D145  mtDNA1  mtDNA2  16.35
..  ...       ...     ...     ...    ...
88  H05  D144 dup  mtDNA1  mtDNA2  16.37
89  H06      D165  mtDNA1  mtDNA2  16.27
90  H07  D165 dup  mtDNA1  mtDNA2  16.35
91  H08      D184  mtDNA1  mtDNA2  16.01
92  H09  D184 dup  mtDNA1  mtDNA2  16.20

[70 rows x 5 columns]

In [5]:
# set mtDNA1 and mtDNA2 values to Cq values by treating mtDNA1 as the Cq for the first sample and mtDNA2 as the Cq for the duplicate sample if it exists as "Sample dup"

# Note, exactly "Sample dup" is used to avoid matching "Sample dup **" or any additions to the name

for row, index in df.iterrows():
    df.loc[row, 'mtDNA1'] = df.loc[row, 'Cq']
    if df.loc[row, 'Sample'] + ' dup' in df['Sample'].values:
        df.loc[row, 'mtDNA2'] = df.loc[df['Sample'] == df.loc[row, 'Sample'] + ' dup', 'Cq'].values[0]
    else:
        df.loc[row, 'mtDNA2'] = np.NAN

""" Assign mtDNA1 and mtNDA2 value

    For each row, set the mtDNA1 value to the Cq value and set the mtDNA2 value to the Cq value of the duplicate sample if it exists.

    For example, if the sample name is "D12", set the mtDNA1 value to its Cq value and set the mtDNA2 value to the Cq value of "D12 Dup" (if it exists).

    If the duplicate ("D12 Dup") does not exist, set the mtDNA2 value to NaN, which is then dropped later.
"""


# Drop the Cq column and drop NA values
df = df.drop(columns=['Cq'])
df = df.dropna()

# calculate standard deviation of each row
df['St.Dev'] = df[['mtDNA1', 'mtDNA2']].std(axis=1)

# Show first 5 rows
df.head()

   Well Sample mtDNA1 mtDNA2    St.Dev
1   A02   D100  16.24  16.05  0.134350
3   A04   D125  16.13  16.15  0.014142
5   A06   D145  16.35  16.28  0.049497
9   A10   D185  15.73  15.84  0.077782
13  B02   D101  16.58  16.46  0.084853

In [6]:
# Throw warnings for standard deviations greater than .22

for row, index in df.iterrows():
    if df.loc[row, 'St.Dev'] > .22:
        print(f"\n Warning: Standard deviation for {df.loc[row, 'Sample']} is {round(df.loc[row, 'St.Dev'],ndigits=3)} "
              f"(Sample 1: {round(df.loc[row, 'mtDNA1'],ndigits=3)} vs Sample 2: {round(df.loc[row, 'mtDNA2'], ndigits=2)}) \n")

 Warning: Standard deviation for D113 is 0.226 (Sample 1: 16.58 vs Sample 2: 16.26)


 Warning: Standard deviation for D116 is 0.311 (Sample 1: 16.51 vs Sample 2: 16.95)

In [7]:
#Drop index, sort by standard deviation (descending), and download the file
df = df.sort_values(by=['St.Dev'], ascending=False)
df = df.reset_index(drop=True)

df.to_excel("50_gcr_random_name_test_output.xlsx",
          index=False)